.WorkOutPages{
    text-align: center;
}

@media (min-width: 480px) and (max-width: 1600px) {
    .workOutBackGround { 
     background-image: url(https://img1.goodfon.com/original/1920x1168/7/26/shtanga-trenazhernyy-zal-gym.jpg) !important ;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 300vh;
   }
 }
 @media (min-width: 0) and (max-width: 480px) {
  .workOutBackGround { 
   background-color: rgb(81,81,81) ;
   -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     height: 300vh;
 }
}